.profile-text{color: #666666;font-size: 14px;}
.personal-detail{display: flex;align-items: center;justify-content: space-between;padding-bottom: 25px;}
.personal-detail-info{display: flex;align-items: center;}
.personal-detail-info img{
	border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;
    width: 65px;
    height: 65px;
}
.personal-detail-info .box-info .name{font-size: 24px;font-family: 'PragatiNarrow-Bold';}
.profile-box-left{padding-right: 0;}
.profile-box-right{padding:15px 0 15px 50px;border-left: 1px solid #E6E6E6;}
.profile-box-right h3{font-size: 28px;}
.form-personal-save{display: none;}
.form-personal-save.active{display: flex;padding-top: 20px;}
.btn-profile-edit{width: 68px;height: 31px;}
.btn-profile-cancel{background-color: #ffffff;border:1px solid #979797;width: 133px;height: 47px;margin-right: 25px;}
.btn-profile-confirm{width: 133px;height: 47px;display: flex;align-items: center;justify-content: space-evenly;}
/* Setting password */
.setting-password-box-input{position: relative;}
.setting-password-box-input img {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.form-setting-save, .form-setting-edit{display: none;}
.form-setting-save.active, .form-setting-edit.active{display: flex;padding-top: 20px;}
.setting-form-input.disabled, .setting-form-input.keyup{font-size: 30px;letter-spacing: 10px;padding-right: 50px;}
.img-icon-eye-inactive, .img-icon-eye-active{display: none;}
.img-icon-eye-inactive.active, .img-icon-eye-active.active{display: inline;}
.form-setting-edit .btn-profile-edit{width: 133px;height: 47px;}
/* History */
.history-table-title-row{padding: 0 15px;}
.card{
	border-radius: 0;
	border:none;
	border-bottom: 1px solid #DEDEDE;
	border-top: 1px solid #DEDEDE;
	margin-top: -1px;
}
.card-header{background-color: #ffffff;border-bottom: none;padding: 0;position: relative;}
.card-header span.icon-arrow {
	background: url(../img/icon/arrow-up-c.svg) no-repeat;
	content: "";
	width: 18px;
	height: 18px;
	display: inline-block;
	position: absolute;
	right: 0rem;
	top: 50%;
	transform: translate(-50%);
}
.card-header .collapsed span.icon-arrow {background: url(../img/icon/arrow-down.svg) no-repeat;}
.card-body{padding: 0 15px 15px;}
.history-table-row{padding: 15px;cursor: pointer;}
.history-status{display: flex;align-items: center;}
.history-status img{margin-right: 10px;}
.history-padding{color: #F5A623;}
.history-success{color: #23AF33;}
.history-text-title{margin-bottom: 0;}
.history-text-info{font-size: 14px;color: #A0A0A0;}
.history-list-service{
	display: flex;
	background-color: #F8F8F8; 
	margin: 13px 0;
	padding: 16px 25px;
	cursor: pointer;
}
.history-list-service.active{box-shadow: 0 2px 8px 0 rgba(141, 141, 141, 0.5);}
.history-list-service img{width: 19px;height: 19px;}
.history-list-service .box-text{padding-left: 26px;}
.history-list-service .box-text .title{font-size: 18px;line-height: 18px;font-family: 'PragatiNarrow-Bold';color: #707070;margin: 0;}
.history-list-service .box-text .title.active{color: #F7B300;}
.history-list-service .box-text .detail{font-size: 12px;color: #838383;margin: 0;}
.history-box-gallery{position: relative;padding-top: 16px;}
.btn-history-next-gallery{
	position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    border: none;
    background-color: transparent;
}
.history-gallery .slick-dots li.slick-active button:before{background-color: #F7B300;}
.history-gallery .slick-dots li button:before{
	width: 28px;
	height: 3px;
	background-color: #000000;
	content: "";
	margin: 0;
}
.history-gallery .slick-dots{bottom: -50px;}
.history-gallery .slick-dots li{margin: 0 8px;}
.history-status img.status-padding{padding-left: 5px;}
.box-link-view-service{display: none;}

/* Popup */
.qcs-popup-img{
	background-color: rgba(0,0,0,0.74);
	height: 100vh;
	position: fixed;
	z-index: 1060;
	width: 100%;
	top: 0;
	display: none;
}
.qcs-popup-bg-img {
	position: relative;
}
.qcs-popup-close-img {
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	border-radius: 4px;
	z-index: 1061;
	text-align: right;
}
.btn-close-popup-img{border: none;background-color: transparent;padding: 25px;}
.btn-close-popup-img:focus{outline: none;}
.qcs-popup-body-img{
	text-align: center;
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1061;
}
.qcs-popup-body-img .slick-dots li.slick-active button:before{background-color: #F7B300;}
.qcs-popup-body-img .slick-dots li button:before{
	width: 28px;
	height: 3px;
	background-color: #FFFFFF;
	content: "";
	margin: 0;
	opacity: 1;
}
.qcs-popup-body-img .slick-dots{bottom: -50px;}
.qcs-popup-body-img .slick-dots li{margin: 0 8px;}

/* Popup chat */
.qcs-popup-chat{
	background-color: rgba(0,0,0,0.74);
	height: 100vh;
	position: fixed;
	z-index: 1060;
	width: 100%;
	top: 0;
	display: none;
}
.qcs-popup-bg-chat {
	background-color: #fff;
    position: fixed;
    width: 100%;
    max-width: 641px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 1061;
    /*height: 60vh;*/
}
.qcs-popup-close-chat {
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	border-radius: 4px;
	z-index: 1061;
	text-align: right;
}
.qcs-popup-header-chat{
	padding: 10px 24px;
	border-bottom: 1px solid #DCDCDC;
	box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
	display: flex;
	justify-content: space-between;
}
.qcs-chat-title{font-size: 16px;font-family: 'PragatiNarrow-Bold';}
.qcs-chat-info{font-size: 12px;}
.qcs-popup-header-box-right{display: flex;align-items: center;}
.qcs-popup-header-box-right .box-service{border-right: 1px solid #DADADA;border-left: 1px solid #DADADA;padding: 0 20px;margin: 0 20px;}
.img-head-chat-service{width:100%;max-width: 58px;height: 58px;border-radius: 50%;object-position: center;object-fit: cover;}
.btn-download-chat{display: flex;flex-direction: column;align-items: center;justify-content: center;font-size: 12px;color: #AAAAAA;}
.btn-download-chat:hover{color: #AAAAAA;}
.btn-send-chat{width:100%;max-width: 127px;height: 45px;}
.input-send-chat{width: 100%;padding: 0 15px;margin-right: 24px;background-color: #F2F2F2;border: none;}
.input-send-chat:focus{outline: none;}
.qcs-popup-send-chat{padding: 24px;display: flex;}
.qcs-popup-body-chat{position: relative;height: 100%;}
.qcs-popup-box-chat{
	height:100%;
	max-height: 400px;
	overflow-y: scroll;
	padding: 7.5px 24px;
}
.qcs-chat-list-date{width: 100%;font-size: 14px;font-family: 'PragatiNarrow-Bold';color: #B6B6B6;text-align: center;padding: 7.5px 0;}
.qcs-chat-list-sa{display: flex;padding: 7.5px 0;width: 60%;}
.qcs-chat-list-user{display: flex;padding: 7.5px 0;width: 60%;justify-content: flex-end;float: right;}
.qcs-chat-sa-text{background-color: #F5F5F5;border-radius: 4px;padding: 8px;margin-left: 14px;}
.qcs-chat-user-text{background-color: #FFEFC5;border-radius: 4px;padding: 8px;margin-right: 14px;}
.img-in-chat{width: 100%;max-width: 30px;height: 30px;object-fit: cover;object-position: center;border-radius: 50%;}
.icon-massage{cursor: pointer;}

@media (min-width: 768px) and (max-width: 1024px){
	.list-group-item.line{display: none;}
	.list-group-item{font-size: 16px;text-align: center;padding: .5rem 0;}
	.list-group-item.active{border-bottom: 2px solid #F7B300;}
	.list-group{flex-direction: row;border-bottom: 1px solid #EBEBEB;margin-bottom: -1.5px;}
	.profile-box-right{padding: 15px 0;border-left:none;}
	.profile-box-left{padding: 20px 0;}
	#profile_sign_out{display: none;}
	.list-group-item.line{display: none;}
	.profile-box-left h2{margin-bottom: 20px;text-align: center;}
	.profile-tab-row{justify-content: center;}
	.personal-detail-info .box-info .name{
		text-transform: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		max-width: calc(100% - 60px);
		overflow: hidden;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.profile-box-left{padding: 26px 0 0;}
	.profile-box-left h2{text-align: center;font-size: 32px;}
	.profile-box-right{padding: 15px;border-left:none;}
	#profile_sign_out{display: none;}
	.list-group-item.line{display: none;}
	.list-group-item{font-size: 16px;text-align: center;padding: .5rem 0;}
	.list-group-item.active{border-bottom: 2px solid #F7B300;}
	.list-group{flex-direction: row;border-bottom: 1px solid #EBEBEB;margin-bottom: -1.5px;}
	.personal-detail-info .box-info .name{
		font-size: 22px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		max-width: calc(100% - 150px);
		overflow: hidden;
	}
	.personal-detail-info .box-info{width: calc(100% - 115px);display: inline-grid;}
	.personal-detail-info img{width: 85px;height: 85px;margin-right: 15px;}
	.personal-detail-info{align-items: flex-start;}
	.personal-detail{display: block;overflow: hidden;}
	.box-btn-edit{padding-left: 100px;margin-top: -20px;}

	/* Setting password */
	.form-personal-save.active{justify-content: center;}
	.form-setting-save.active, .form-setting-edit.active{justify-content: center;}

	/* History */
	.history-table-title-row{padding: 0;}
	.card{font-size: 12px;}
	.card-header span.icon-arrow{right: 5px;top: 45%;}
	.history-text-title{font-size: 14px;font-family: 'PragatiNarrow-Bold';margin-bottom: .5rem;}
	.history-text-info{margin-bottom: .5rem;margin-top: -.5rem;font-size: 12px;}
	.history-list-service .box-text{display: flex;align-items: center;justify-content: space-between;width: 100%;}
	.box-link-view-service{display: block;color: #000000;padding: 10px 0;cursor: pointer;}
	.box-link-view-service img{margin-left: 5px;}
	.btn-history-next-gallery{display: none;}
	#history > .row{overflow: hidden;}

	/* Popup chat */
	.qcs-popup-bg-chat{width: 90%;}
	.qcs-popup-header-chat{padding: 10px;}
	.qcs-popup-box-chat{padding: 7.5px 10px;max-height: 40vh;}
	.qcs-popup-send-chat{padding: 10px;}
	.btn-send-chat{max-width: 85px;}
	.input-send-chat{margin-right: 10px;font-size: 14px;}
	.img-head-chat-service{max-width: 48px;height: 48px;}
	.qcs-popup-header-box-right .box-service{padding: 0 10px;margin: 0 10px;}
	.qcs-chat-sa-text, .qcs-chat-user-text{font-size: 14px;}
	.qcs-chat-title{font-size: 14px;}
	.qcs-chat-info{font-size: 10px;}
	.btn-download-chat{font-size: 10px;}
	.qcs-chat-list-sa, .qcs-chat-list-user{width: 50vw;}
}








