@font-face {
  font-family: "PragatiNarrow-Regular";
  src:  url("./fonts/PragatiNarrow-Regular.eot"); /* IE9 Compat Modes */
  src:  url("./fonts/PragatiNarrow-Regular.eot?#iefix") format("embedded-opentype"),/* IE6-IE8 */ 
        url("./fonts/PragatiNarrow-Regular.otf") format("opentype"),/* Open Type Font */ 
        url("./fonts/PragatiNarrow-Regular.svg") format("svg"),/* Legacy iOS */ 
        url("./fonts/PragatiNarrow-Regular.ttf") format("truetype"),/* Safari, Android, iOS */ 
        url("./fonts/PragatiNarrow-Regular.woff") format("woff"),/* Modern Browsers */ 
        url("./fonts/PragatiNarrow-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PragatiNarrow-Bold";
  src:  url("./fonts/PragatiNarrow-Bold.eot"); /* IE9 Compat Modes */
  src:  url("./fonts/PragatiNarrow-Bold.eot?#iefix") format("embedded-opentype"),/* IE6-IE8 */ 
        url("./fonts/PragatiNarrow-Bold.otf") format("opentype"),/* Open Type Font */ 
        url("./fonts/PragatiNarrow-Bold.svg") format("svg"),/* Legacy iOS */ 
        url("./fonts/PragatiNarrow-Bold.ttf") format("truetype"),/* Safari, Android, iOS */ 
        url("./fonts/PragatiNarrow-Bold.woff") format("woff"),/* Modern Browsers */ 
        url("./fonts/PragatiNarrow-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'PragatiNarrow-Regular';
}
html.noScroll, body.noScroll {overflow: hidden;}
h1{font-size: 52px;font-family: 'PragatiNarrow-Bold'}
h2{font-size: 38px;font-family: 'PragatiNarrow-Bold'}
h3{font-size: 32px;font-family: 'PragatiNarrow-Bold'}
h4{font-size: 25px;font-family: 'PragatiNarrow-Bold'}
a:hover,a.focus {text-decoration: none;}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}
.qcs-header {background-color: #000000;height: 60px;}
.qcs-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
}
.qcs-header-box-logo{position: absolute;left: 50%;transform: translate(-50%);}
.qcs-header-box-sigin {display: flex;align-items: center;}
.qcs-header-signin {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 40px;
  padding: 0.5rem;
  background-color: transparent;
  border:none;
}
.qcs-header-signin:hover{color: #F7B300;}
.qcs-header-signup {
  color: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 40px;
  padding: 0.5rem;
  background-color: transparent;
}
.qcs-header-signup:hover {color: #000000;background-color: #ffffff;}
.qcs-header-box-lang {display: flex;align-items: center;}
.qcs-header-book {
  height: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  margin-right: 20px;
}
.qcs-header-book img{padding-left: 15px;}
.qcs-header-book:hover {color: #ffffff;}
.qcs-header-lang{
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.qcs-header-lang:hover{color: #ffffff;text-decoration: underline;}
.qcs-header-lang.active{background-color: #F7B300;color: #000000;}
.nav-box-list-menu{display: flex;align-items: center;}
#list_menu_desktop > .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    margin-right: .5rem;
}
#list_menu_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: .5rem 1.25rem;
    background-color: transparent;
    border: none;
}
#list_menu_desktop:focus{outline: none;}
.qcs-img-personal{width:100%;max-width: 40px;height: 40px;object-fit: cover;object-position: center;border-radius: 50%;margin-right: .5rem;}
.menu-list-in-profile {padding:0 1rem;font-size: 13px;color: #494949;}
.qcs-dropdown-menu{left: 20px!important;right: 15px!important;}
.menu-list-in-profile > .list{margin: .5rem 0;cursor: pointer;}
.menu-list-in-profile > .list:first-child{margin: .25rem 0 .5rem;}
.menu-list-in-profile > .list:last-child{margin: .5rem 0 .25rem;}
.menu-list-in-profile > .list:hover{color: #F7B300;}
.menu-list-in-profile > .list a{color: #000000;}
.menu-list-in-profile > .list:hover a{color: #F7B300;}

/*Nav*/
header.active{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.qsc-nav{
  height: 63px;
  border-bottom: solid 1px #dcdcdc;
  box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
  padding: 0;
  background-color: #fff;
}
.qsc-nav.active{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.qsc-nav .navbar-nav .nav-link{color: #000000;padding: 17px 22.5px;display: flex;align-items: center;}
.qsc-nav .navbar-nav .nav-item.active {border-bottom: 4px solid #F7B300;}
.qsc-nav .navbar-nav .nav-item:hover {border-bottom: 4px solid #F7B300;}
.qsc-nav .navbar-nav .nav-item.dropdown.active {border-bottom: 4px solid #F7B300;}
.qsc-nav .navbar-nav .nav-item.dropdown.active:hover{border-bottom: 4px solid #F7B300;}
.qsc-nav .navbar-nav .nav-item.dropdown:hover{border-bottom: none;}
.qsc-nav .navbar-nav{height: 63px;}
.carousel-caption{height: 100%;}
.carousel-caption > .container{
  height: 100%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}
.qcs-slide h1{font-size: 50px;}
.qcs-slide-btn{
  background-color: #F7B300;
  color: #000000;
  height: 47px;
  width: 133px;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.qsc-nav .dropdown-item.active, .dropdown-item:active{
  background-color: #ffffff;
  color: #F7B300;
}
.navbar-nav .dropdown-menu{margin-top: 10px;}
.btn-hamberger{display: none;}
.btn-hamberger .icon-bar {
  display: block;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: 6px 0;
}
.btn-hamberger:focus{outline: none;}
.img-home-slide{width: 100%;display: block;}
.qcs-slide-content{text-align: left;}

/* Menu */
.blur-filter{
  filter:blur(13px);
  -o-filter:blur(13px);
  -ms-filter:blur(13px);
  -moz-filter:blur(13px);
  -webkit-filter:blur(13px);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}
.bg-overlay{
  display: none;
}
.bg-overlay.active {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1049;
  display: block;
  background-color:rgba(0,0,0,0.7);
}
.qcs-overlay {
  height: 100vh;
  position: fixed;
  z-index: 1050;
  right: 0;
  top: 0;
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.qcs-overlay.active {
  opacity: 1;
  transition: opacity 1s ease-in;
  -webkit-animation: slideInLeft 1s;
  animation: slideInLeft 1s;
  display: block;
}
.qcs-overlay-menu{padding: 30px 0 20px;}
.qcs-link-menu-m{
  font-size: 18px;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-family: 'PragatiNarrow-Bold';
  padding: 10px 20px;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  margin-top: -1px;
}
#menu_user.qcs-link-menu-m {border-top:none;}
.qcs-link-menu-m-sub{font-size: 16px;color: #ffffff;display: block;text-transform: none;padding: 5px 0;}
.qcs-link-menu-m:focus, .qcs-link-menu-m:active, 
.qcs-link-menu-m:hover, .qcs-link-menu-m-sub:focus, 
.qcs-link-menu-m-sub:active, .qcs-link-menu-m-sub:hover{color: #ffffff;outline: none;}
.qcs-link-menu-m > .box-menu > span.icon {
  background: url('../img/icon/arrow-up-w.svg') no-repeat;
  content: "";
  width: 2rem;
  height: 18px;
  display: inline-block;
  position: absolute;
  right: 30px;
  margin-top: 10px;
}
.qcs-link-menu-m > .box-menu.collapsed > span.icon {
  background: url('../img/icon/arrow-down-w.svg') no-repeat;
}
.qcs-link-menu-m-box-sub{padding: 0 15px;}
.qcs-overlay-lang{padding: 0 20px 30px;display: flex;align-items: center;justify-content: space-between;}
.qcs-overlay-box-sign .box-sign{display: flex;}
.btn-sign-up-m{
  color: #ffffff;
  border:none;
  background-color: transparent;
  font-size: 16px;
  border-left: 1px solid #ffffff;
  margin-left: -1px;
  padding: 0 0 0 10px;
  line-height: 18px;
}
.btn-sign-in-m{
  color: #ffffff;
  border:none;
  background-color: transparent;
  font-size: 16px;
  border-right: 1px solid #ffffff;
  padding: 0 10px 0 0;
  line-height: 18px;
}
.btn-sign-up-m:focus, .btn-sign-in-m:focus{outline: none;}
.btn-lang-m{width: 25px;height: 25px;color: #ffffff;display: inline-block;text-align: center;font-size: 16px;}
.btn-lang-m:first-child{margin-right: 2.5px;}
.btn-lang-m:last-child{margin-left: 2.5px;}
.btn-lang-m.active{background-color: #F7B300;color: #000000;}
#menu_user .box-menu{display: flex;align-items: center;margin-bottom: 10px;cursor: pointer;}
#menu_user .box-menu .name{
  text-transform: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  margin-left: .5rem;
  font-size: 14px;
  display: block;
}

/* Footer */
.qcs-footer{background-color: #FAFAFA;padding: 40px 0;}
.qcs-copyright{background-color: #303638;height: 38px;}
.qcs-copyright > .container{height: 38px;display: flex;align-items: center;color: #ffffff;}
.form-subscribe{display: flex;padding: 30px 0;}
.input-subscribe{height: 47px;width: 100%;padding: 0 15px;border: 1px solid #E0E0E0;}
.btn-subscribe{
  height: 47px;
  border: none;
  background-color: #F7B300;
  color: #000000;
  padding: .5rem 26px;
}
.qcs-footer-connect{text-transform: uppercase;}
.qcs-footer-link > li{padding: 15px 0;display: block;color: #000000;font-family: 'PragatiNarrow-Bold';}
.qcs-footer-link > li > a:hover{color: #000000;}
.qcs-footer-link > li > a{color: #000000;}
.qcs-footer-link > li > a.disable{color: #8D8D8D;}
.qcs-footer-link > li > a.active{color: #F7B300;}
.footer-social a > img{width: 35px;height: 35px;margin: 0 5px;}
.footer-social a:first-child > img{margin-left: 0;}
.footer-social a:last-child > img{margin-right: 0;}

/* Global */
.home-h1{margin-bottom: 30px;text-align: center;}
.qcs-home-box-btn{display: flex;align-items: center;padding: 30px 0;justify-content: center;}
.btn-home-more{
  background-color: #F7B300;
  color: #000000;
  height: 47px;
  width: 133px;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-home-more:hover{color: #000000;}
.tag-news{
  width: 34px;
  height: 25px;
  border: 1px solid #F7B300;
  margin-right: 13px;
  display: inline-block;
  text-align: center;
  color: #F7B300;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 2px 0;
}
.qcs-textarea{
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
  height: 96px;
  border: 1px solid #B8B8B8;
}
.qcs-input{
  height: 52px;
  width: 100%;
  padding: 0 30px;
  border: 1px solid #B8B8B8;
}
.qcs-input:focus, .qcs-textarea:focus{outline: none;}
.qcs-input-error {
  text-align: right;
  color: red;
  font-size: 12px;
  visibility: hidden;
  height: 1.5rem;
  line-height: 2;
}
.qcs-input-error.active {visibility: visible;}
.has-error {border: 1px solid red !important;}
.qcs-card-list{padding: 0 15px;flex-direction: column-reverse;}
.qcs-text-title{
  font-size: 20px;
  font-family: 'PragatiNarrow-Bold';
  line-height: 25px;
  margin:25px 0 10px;
  color: #000000;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
}
.qcs-text-date{font-size: 14px;color: #666666;padding-bottom: 30px;margin-bottom: 0;}
.qcs-section{padding: 60px 0;}
.qcs-card-h1{padding-bottom: 30px;text-align: center;}
.qcs-section-all-header{position: relative;}
.qcs-header-all-overlay {
  background-color: #000;
  opacity: 0.6;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
.qcs-header-all-box{height: 100%;position: absolute;width: 100%;top: 0;}
.qcs-header-all-box .container{height: 100%;}
.qcs-header-all-row {justify-content: center;color: #ffffff;height: 100%;align-items: center;}
.qcs-header-all-row-left{color: #ffffff;height: 100%;align-items: center;}
.qcs-button{background-color: #F7B300;color: #000000;text-align: center;border: none;width: 100%;height: 44px;}
.qcs-button:hover, .qcs-button:focus{outline: none;color: #000000;}
.selectize-input{height: 44px;}
.qcs-btn-share{color: #000000;}
.qcs-btn-share span{margin-right: 15px;}
.qcs-btn-share:hover{color: #000000;}
.qcs-slide-box-image{position: relative;}
.qcs-slide-box-arrow{
  position: absolute;
  right: 0;
  background-color: #ffffff;
  height: 74px;
  width: 180px;
  bottom: -14px;
  display: flex;
  align-items: center;
}
.qcs-slide-arrow-left{border-right: 1px solid #E4E4E4;padding: 0 25px;cursor: pointer;}
.qcs-slide-arrow-right{border-left: 1px solid #E4E4E4;margin-left: -1px;padding: 0 25px;cursor: pointer;}
.slide-count-wrap{font-size: 24px;}
.qcs-detail-box-content{padding: 60px 40px;}
.qcs-detail-box-content > .title{font-family: 'PragatiNarrow-Bold';}
.qcs-detail-box-content > .date{color: #666666;font-size: 14px;}
.qcs-detail-box-content > .detail{color: #666666;font-size: 14px;padding: 30px 0;}
.qcs-hide{display: none!important;}
.btn-qcs{color: #000000;background-color: #F7B300;border: none;}
.btn-qcs:focus, .btn-qcs:hover{outline: none;}
.input-error {
  text-align: right;
  color: red;
  font-size: 12px;
  visibility: hidden;
  height: 1.5rem;
  line-height: 2;
}
.form-control{border:1px solid #D9D9D9;border-radius: 0;padding: 0 25px;height: 44px;}
.form-control:focus{outline: none;box-shadow: 0 0 0 0.2rem rgba(247, 179, 0,.25);border-color: #F7B300;}
.form-control.disabled{background-color: #F7F7F7;color: #9F9F9F;cursor: not-allowed;pointer-events: none;}
.custom-selectize{display: block;width: 100%;border:1px solid #D9D9D9;border-radius:0;padding: 0 10px;}
.custom-selectize.disabled{height: 44px;}
.selectize-control.custom-selectize{padding: 0;}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
}
.selectize-control.single .selectize-input {background-color: #fff;height: 44px;}
select:disabled {color: #9F9F9F;}
select {text-indent: 16px;-webkit-appearance: none;-webkit-border-radius: 0px;}
.list-group-item{border: none;padding: .75rem 0;margin-bottom: 0;font-size: 18px;color: #A7A7A7;}
.list-group-item.active {color: #F7B300;background-color: #FFFFFF;border-color: #FFFFFF;}
.list-group-item.line{background-color: #E6E6E6;height: 1px;padding: 0;margin: .75rem 0;}
textarea.form-control{padding: 15px 25px 0;}
[type="date"] {
  background:#fff url('../img/icon/icon-calendar.svg')  96% 50% no-repeat ;
  cursor: pointer;
}
[type="date"]::-webkit-inner-spin-button {display: none;}
[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
[type="date"]::before {color: #999999;content: attr(placeholder);}
[type="date"] {color: #ffffff;}
[type="date"]:focus, [type="date"]:valid {color: #666666;}
[type="date"]:focus::before, [type="date"]:valid::before {content: "" !important;}
.img-header-show{width: 100%;}


/* Home our service */
#home_our_service{padding: 60px 0;}
.card-our-service{position: relative;height: 100%;}
.card-our-service-img img{width: 100%;}
.card-our-service-content{
  position: absolute;
  background-color: rgba(0,0,0, 0.1);
  padding: 30px;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.card-our-service-content-body{display: flex;align-items: baseline;width: 100%;}
.card-our-service-content img{padding-right: 16px;margin-top: 16px;}
.card-our-service-content .box-text > .title{font-size: 26px;font-family: 'PragatiNarrow-Bold';}
.card-our-service-content .box-text{width: 100%;padding-right: 30px;}
.card-our-service-content .box-text > .info{display: none;}
a:hover .card-our-service-content .box-text > .info{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:hover .card-our-service-content{border-bottom: 7px solid #F7B300;padding-bottom: 15px;}
a:hover .card-our-service{
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.home-our-service-row{padding: 5px 10px;}
.home-our-service-p{padding: 5px;}

/* Home promotion service */
#home_promotion_service{padding: 60px 0;}
.img-home-promotion-service{width: 100%;position: relative;z-index: -1;}
.home-promotion-service-content{margin-top:-40px;}
.home-promotion-service-content > .box-title{
  width: 80%;
  background-color: #ffffff;
  font-size: 24px;
  font-family: 'PragatiNarrow-Bold';
  line-height: 25px;
  padding: 20px 30px 20px 0;
}
.home-promotion-service-content > .box-title > p{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  width: 100%;
  margin-bottom: 0;
  color: #000;
}
.home-promotion-service-content > .box-info{
  color: #666666;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
}

/* Home our news */
#home_our_news{padding: 60px 0;}
.home-our-news-content > .box-title{
  padding:20px 0 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
}
.home-our-news-content > .box-title > p{
  font-size: 24px;
  font-family: 'PragatiNarrow-Bold';
  margin-bottom: 0;
  display: contents;
  line-height: 34px;
  color: #000000;
}
.home-our-news-content > .box-date{font-size: 18px;color: #666666;}
.home-our-news-content > .box-info{
  color: #666666;
  font-size: 14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  line-height: 24px;
}

/* Home car recommend */
#home_car_recommend{padding: 60px 0;}
.home-car-content{padding:25px 0 20px;border-bottom: 1px solid #D8D8D8;}
.home-car-content > .box-title{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  padding-bottom: 5px;
}
.home-car-content > .box-title > p{
  font-size: 24px;
  font-family: 'PragatiNarrow-Bold';
  margin-bottom: 0;
  display: contents;
  line-height: 25px;
  color: #000000;
}
.home-car-content > .box-info{font-size: 14px;color: #000000;}
.home-car-content > .box-info > .car-model{padding-right: 15px;}
.home-car-price{padding: 20px 0;color: #000000;font-size: 24px;font-family: 'PragatiNarrow-Bold';}
.text-car-price{padding-right: 5px;}
.img-car-recommend{
  width: 100%;
  height: 100%;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
}
#home_car_recommend .slick-dots li button:before{
  width: 28px;
  height: 3px;
  background-color: #000000;
  content: "";
  margin: 0
}
#home_car_recommend .slick-dots li{margin: 0 8px;}

/* About us */
#about_us{padding: 60px 0 120px;}
.about-us-line{width: 65px;height: 4px;background-color: #F7B300;margin-bottom: 30px;}
.about-us-text{line-height: 36px;padding-right: 15px;}
.about-us-row{padding: 50px 0 0;}
.about-us-content{padding: 30px;}

/* Popup login & regis */
.qcs-popup{
  background-color: rgba(0,0,0,0.74);
  height: 100vh;
  position: fixed;
  z-index: 1060;
  width: 100%;
  top: 0;
  display: none;
}
.qcs-popup-bg {
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 563px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 1061;
  padding: 25px;
}
.qcs-popup-header {text-align: right;}
.btn-close-popup{border: none;background-color: transparent;}
.btn-close-popup:focus{outline: none;}
.qcs-popup-body{text-align: center;padding: 0 60px;}
.btn-facebook{
  width: 100%;
  height: 45px;
  background-color: #0074FB;
  text-align: center;
  position: relative;
  color: #ffffff;
  margin: 10px 0;
  border: none;
}
.btn-facebook img{
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
}
.btn-google{
  width: 100%;
  height: 45px;
  background-color: #FDFDFD;
  border:1px solid #DFDFDF;
  text-align: center;
  position: relative;
  margin: 10px 0;
  padding: 0;
}
.btn-google img{
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(0, -50%);
}
.qcs-popup-line {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  position: relative;
  margin: 2rem 0;
}
.qcs-popup-line > span {
  position: absolute;
  top: -11px;
  background-color: #fff;
  padding: 0 1rem;
  left: 50%;
  transform: translate(-50%);
}
.qcs-field {
  width: 100%;
  height: 45px;
  position: relative;
  margin: 10px 0 20px;
}
.qcs-field input {
  width: 100%;
  height: 45px;
  border: 1px solid #D9D9D9;
  font-size: 0;
  background: transparent;
  transition: background .3s ease;
  padding: 15px 20px 0;
}
.qcs-field input:focus {font-size: 16px;outline: none;border:1px solid #4A90E2;}
.qcs-field input:focus::-moz-selection {background: #ffffff;}
.qcs-field input:focus::selection {background: #ffffff;}
.qcs-field input.active {font-size: 16px;}
.qcs-field input {position: absolute;height: 45px;left: 0;}
.qcs-field input:focus + label {
  top: 6px;
  left: 20px;
  font-size: 13px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.qcs-field label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: font-size .3s ease, color .3s .1s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, font-size .3s ease, color .3s .1s ease;
  transition: transform .3s ease, font-size .3s ease, color .3s .1s ease, -webkit-transform .3s ease;
  font-size: 16px;
  color: #B3B3B3;
}
.qcs-field label.active {
  font-size: 13px;
  top:6px;
  left: 20px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.qcs-field input:focus + label + button {opacity: 1;}
.qcs-forgot-password{font-size: 14px;color: #A9A9A9;float: right;margin-bottom: 20px;}
.qcs-forgot-password:hover{color: #F7B300;}
.btn-confirm-popup{width: 100%;height: 45px;text-align: center;border:none;background-color:#F7B300;margin: 0 0 20px;}
.qcs-link-open{font-size: 14px;}
.qcs-link-open span{color: #0074FB;text-decoration: underline;cursor: pointer;}
.form-login, .form-regis{display: none;}
#booking .qcs-field{margin: 0;}
.btn-booking-confirm {
  width: 133px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/*##########################################
                Responsive 
##########################################*/

@media (min-width: 320px) and (max-width: 767px){
  /*Global*/
  h1{font-size: 32px;}
  h3{font-size: 26px;}
  h4{font-size: 22px;}
  .slick-slide-p-m{padding: 0 5px 0 15px;}
  .btn-home-more-m{color: #F7B300;display: flex;align-items: center;font-size: 13px;}
  .btn-home-more-m img{margin-left: 5px;}
  .p-0-m{padding: 0;}
  .qcs-section-all-header{margin-top: 60px;}
  .img-header-show{height: 185px;object-fit: cover;object-position: center;}
  .qcs-card-list{padding: 0;}
  .qcs-card-h1{padding:26px 0;}
  .qcs-card-list{flex-direction: unset;padding: 16px 0;border-bottom: 1px solid #E7E7E7;align-items: flex-start;}
  .qcs-card-list-text{display: flex;flex-direction: column-reverse;padding: 0;}
  .qcs-text-date{padding-bottom: 0;}
  .qcs-text-title{margin: 0;font-size: 18px;-webkit-line-clamp: 3;}
  #news.qcs-section, #promotion.qcs-section{padding: 60px 15px;}
  .qcs-card-list-img{padding: 0 0 0 15px;}
  .qcs-slide-arrow-left, .qcs-slide-arrow-right{display: none;}
  .qcs-slide-box-arrow{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    height: auto;
    width: auto;
    padding: 0 5px;
    bottom: 0;
    left: 0;
    right: inherit;
  }
  #news_detail_slide .slick-dots li button:before{
    width: 15px;
    height: 3px;
    background-color: #000000;
    content: "";
    margin: 0
  }
  #news_detail_slide .slick-dots li{margin: 0;}
  #news_detail_slide .slick-dotted.slick-slider{margin-bottom: 0;}
  #news_detail_slide .slick-dots{bottom: -40px;}
  #promotion_detail_slide .slick-dots li button:before{
    width: 15px;
    height: 3px;
    background-color: #000000;
    content: "";
    margin: 0
  }
  #promotion_detail_slide .slick-dots li{margin: 0;}
  #promotion_detail_slide .slick-dotted.slick-slider{margin-bottom: 0;}
  #promotion_detail_slide .slick-dots{bottom: -40px;}
  .qcs-detail-box-content{padding: 20px 0;}
  .slide-count-wrapP{font-size: 13px;}

  /*Nav*/
  header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .qcs-header-box-lang, .qsc-nav{display: none;}
  .qcs-header-box-logo img{width: 96px;height: 26px;}
  .btn-hamberger{display: block;}
  .qcs-header-book{margin-right: 0;font-size: 10px;padding: .5rem;height: 26px;}
  .qcs-header-book img{padding-left: 7px;}

  /* Popup */
  .qcs-popup-bg{padding: 16px;width: 90%;top:50%;overflow: scroll;}
  .qcs-popup-body{padding: 0;}
  .qcs-popup-body h2{font-size: 32px}
  .btn-google{margin: 5px 0;}
  .qcs-popup-line{margin: 1rem 0;}

  /* Footer */
  .qcs-footer-link > li{font-size: 14px;}
  .form-subscribe{padding: 0 0 32px;}
  .qcs-footer-connect{text-align: center;}
  .qcs-copyright > .container{justify-content: center;font-size: 14px;}

  /* Home slide */
  #home_slide{padding-top: 60px;}
  .carousel-control-prev, .carousel-control-next{display: none;}
  .img-home-slide{height: 297px;object-fit: cover;object-position: center;}
  .carousel-caption{width: 100%;left: 0;right: 0;bottom: 50%;padding: 0;transform: translate(0, 60%);}
  .qcs-slide h1 {font-size: 32px;text-align: center;}
  .qcs-slide-content{display: flex;flex-direction: column;align-items: center;padding: 0 40px;text-align: center;font-size: 12px;}
  .qcs-slide-btn{width: 94px;height: 37px;font-size: 12px;}

  /*Home Our service*/
  #home_our_service{padding: 36px 0 0;}
  .home-our-service-row{padding: 5px 0;}
  .home-h1{text-align: left;display: flex;justify-content: space-between;}
  .card-our-service-content .box-text > .title{font-size: 24px;}
  .home-our-service-p{padding: 5px 0;}
  .card-our-service-content{padding: 20px 25px;align-items: flex-end;height: 100%;}
  .card-our-service-content .box-text > .info{display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  .card-our-service-img img {height: 26vh;object-fit: cover;object-position: center;}
  .qcs-home-box-btn{display: none;}

  /* Home promotion */
  #home_promotion_service{padding: 36px 0 0;}
  .home-promotion-service-content > .box-info{display: none;}
  .home-promotion-service-content{margin: 0;}
  .home-promotion-service-content > .box-title{width: 100%;font-size: 14px;padding: 15px 0;}
  #home_promotion_service_slide .slick-list {padding: 0px 30px 0 0 !important;}

  /* Home new */
  #home_our_news{padding: 36px 0 0;}
  .crad-our-news{padding-bottom: 20px;}
  .home-our-news-content > .box-title > p{font-size: 16px;line-height: 16px;}
  .home-our-news-content > .box-date{font-size: 14px;}
  .home-our-news-content > .box-info{font-size: 12px;line-height: normal;}


  /* Home car recommend */
  #home_car_recommend{padding: 36px 0;}
  #car_recommend .slick-list {padding: 0px 30px 0 0 !important;}
  .home-car-price{font-size: 18px;padding: 15px 0;}
  .home-car-content > .box-title > p{font-size: 14px;}
  .tag-news{margin-right: 5px;font-size: 10px;width: 24px;height: 18px;padding: 0;}
  .home-car-content > .box-info{font-size: 10px;}
  .home-car-content > .box-info > .car-model{padding-right: 5px;}
  .home-car-content{padding: 10px 0 16px;}

  /* About us */
  #about_us{padding: 30px 0;}
  .about-us-row{padding: 0;}
  .about-us-text{line-height: 24px;padding-right: 0;}
  .about-us-line{margin-top: 25px;}
  .about-us-content{padding: 0;}

}
@media (width: 320px) {
  .home-h1{font-size: 28px;}
  .qcs-popup-bg{height:90vh;overflow: scroll;}
}




